/***
  The new CSS container component - version 0.1.0
***/

html, body {
  height: 100%;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-columns: 4fr;
  grid-template-rows: auto 1fr auto;

  .container__header {
    grid-area: header;
  }

  .container__left {
    grid-area: left;
  }

  .container__main {
    grid-area: main;
  }

  .container__right {
    grid-area: right;
  }

  .container__footer {
    grid-area: footer;
  }
}

.section {
  padding: var(--section-padding);
  
  .section__title--center {
    text-align: center;
  }

  .section__title--right {
    text-align: right;
  }
}