@import "./css/reset.css" layer(base);
@import "./css/typography.css" layer(base);
@import "./css/navigator.css" layer(base);
@import "./css/header.css" layer(base);
@import "./css/footer.css" layer(base);

:root {
  --main-title-color: #cfcfcf;
  --secondary-title-color: #60655b;

  --main-text-color: #073e75;
  --secondary-text-color: #cbce48;

  --main-link-color: #414073;
  --secondary-link-color: #be9a75;
  
  --main-bg-color: #F4F4ED;
  --secondary-bg-color: #424242;
  --third-bg-color: #073e75;

  --main-error-color: #BA1F33;
  --main-success-color: #138A36;
  --main-warnig-color: #FFA630;

  --xx-s-size: xx-small;
  --x-s-size: x-small;
  --s-size: small;
  --base-size: smaller;
  --m-size: medium;
  --l-size: large;
  --x-l-size: x-large;
  --xx-l-size: xx-large;
  --xxx-l-size: xxx-large;
}